<fieldset>
  <legend>{{ t('forms.consent_legend') }}</legend>
  <label class="checkbox">
    <input type="checkbox" name="consent_terms" {% if existing_answers.consent_terms %}checked{% endif %} required>
    {{ t('forms.consent_terms') }}
  </label>
  <label>
    {{ t('forms.pep_label') }}
    <select name="pep_self_declaration" required>
      <option value="">{{ t('common.select') }}</option>
      <option value="not_pep" {% if existing_answers.pep_self_declaration == "not_pep" %}selected{% endif %}>{{ t('forms.pep.not_pep') }}</option>
      <option value="pep_family" {% if existing_answers.pep_self_declaration == "pep_family" %}selected{% endif %}>{{ t('forms.pep.pep_family') }}</option>
      <option value="is_pep" {% if existing_answers.pep_self_declaration == "is_pep" %}selected{% endif %}>{{ t('forms.pep.is_pep') }}</option>
    </select>
  </label>
  <label>
    {{ t('forms.tax_residency') }}
    <input type="text" name="tax_residency" value="{{ existing_answers.tax_residency or '' }}" placeholder="{{ t('forms.tax_residency_placeholder') }}" required>
  </label>
</fieldset>
